<!DOCTYPE HTML>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>List Book</title>
</head>
<body>
<h1 layout:fragment="pageHead">Книжная полка</h1>
<div layout:fragment="content">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item" th:classappend="${books.hasPrevious()?'':'disabled'}">
                <a class="page-link" th:href="@{/books}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, books.getTotalPages())}" th:classappend="${(i == books.getNumber()+1)?'active':''}">
                <a class="page-link" th:href="@{/books(page=${i})}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${books.hasNext()?'':'disabled'}">
                <a class="page-link" th:href="@{/books(page=${books.getTotalPages()})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="card-columns">
        <div class="card" th:each="book : ${books.getContent()}">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.title}"></h5>
                <p class="card-text" th:text="${book.autor} + ', ' + ${book.printYear} + ' г.'"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted" th:text="${book.isbn}"></small>
            </div>
        </div>
    </div>

</div>

</body>
</html>