<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<!--/*@thymesVar id="book" type="com.vladmeh.javaRushTestTask.Entity.Book"*/-->
<p th:text="'id: ' + ${book.id}" ></p>
<p th:text="'title: ' + ${book.title}" ></p>
<p th:text="'autor: ' + ${book.autor}" ></p>
<p th:text="'print year: ' + ${book.printYear}" ></p>
<p th:text="'read already: ' + ${book.readAlready}" ></p>
<p th:text="'isbn: ' + ${book.isbn}" ></p>
<p th:text="'description: ' + ${book.description}" ></p>
<p th:text="'image: ' + ${book.imageStr}" ></p>
</body>
</html>