<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<head>
    <title th:text="${book.getTitle()}"></title>
</head>

<body>
    <li class="nav-item" layout:fragment="newBook">
        <a class="nav-item nav-link" th:href="@{'/books/add'}">Новая книга</a>
    </li>

    <th:block layout:fragment="actionBook">
        <a th:href="@{/books/edition/{id}(id = ${book.id})}" class="btn btn-link text-dark">
            <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path>
            </svg>
        </a>
        <button type="button" class="btn btn-link text-dark mr-3" data-toggle="modal" data-target="#deleteBook">
            <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                <path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path>
            </svg>
        </button>
    </th:block>

    <th:block layout:fragment="modal">
        <div th:replace="fragments/modals :: delete(${book})"></div>
        <th:block th:if="${!book.isReadAlready()}">
            <div th:replace="fragments/modals :: ready(${book})"></div>
        </th:block>
    </th:block>

    <div layout:fragment="content" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img th:if="${book.getImageData() != null}" th:src="@{/books/{id}/image(id = ${book.getId()})}" th:alt="${book.getTitle()}" class="img-thumbnail"/>
                    <img th:if="${book.getImageData() == null}" data-src="holder.js/350x500" th:alt="${book.getTitle()}" class="img-thumbnail"/>
                </div>
                <div class="col-8">
                    <h3 th:text="${book.getTitle()}" class="page-header h3"></h3>
                    <small th:text="${book.isReadAlready()}?'прочитано':'не прочитано'" th:classappend="${book.isReadAlready()}?'text-success text-uppercase font-weight-bold':'text-muted'"></small>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-3">Авторы</dt>
                        <dd class="col-sm-9" th:text="${book.getAutor()}"></dd>

                        <dt class="col-sm-3">Год издания</dt>
                        <dd class="col-sm-9" th:text="${book.getPrintYear()} + ' г.'"></dd>

                        <dt class="col-sm-3">ISBN</dt>
                        <dd class="col-sm-9" th:text="${book.getIsbn()}"></dd>

                        <dt class="col-sm-3 text-truncate">Краткое описание</dt>
                        <dd class="col-sm-9"><p th:text="${book.getDescription()}"></p></dd>
                    </dl>
                    <hr/>
                    <div class="d-flex justify-content-between align-items-center">
                        <button th:if="${!book.isReadAlready()}" type="button" class="btn btn-outline-success"  data-toggle="modal" data-target="#isReadyBook">Отметить как прочитаное</button>
                        <a th:href="@{/books/edition/{id}(id = ${book.id})}" class="btn btn-outline-info">Заменить на новое издание</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>