<!DOCTYPE HTML>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="jumbotron text-center d-flex aling-items-center h-100" layout:fragment="pageHead">
    <div class="container align-self-center">
        <h1 class="jumbotron-heading">Книжная полка</h1>
        <p class="lead text-muted">Проект Java + Spring boot framework <br/>созданный в рамках тестового задания онлайн курса Java - <a href="https://javarush.ru">JavaRush</a>, для прохождения стажировки.</p>
        <p>
            <a href="https://github.com/vladmeh/javaRushTestTask" class="btn btn-primary my-2">Скачать на GitHub</a>
            <a href="https://github.com/vladmeh/javaRushTestTask/blob/master/STEP-BY-STEP.md" class="btn btn-secondary my-2">Step-By-Step</a>
        </p>
        <p>
            <a th:href="@{/books}" class="btn btn-outline-info btn-lg my-3">Перейти к списку книг</a>
        </p>
    </div>
</section>
</body>
</html>